
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;

    --card: 223 16% 18%;
    --card-foreground: 0 0% 98%;

    --popover: 223 16% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 271 76% 53%;
    --secondary-foreground: 0 0% 98%;

    --muted: 223 16% 25%;
    --muted-foreground: 240 5% 75%;

    --accent: 22 98% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 223 16% 25%;
    --input: 223 16% 25%;
    --ring: 217 91% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-bokumono-background text-bokumono-text;
  }
}
